.map-container {
    width: auto;
    position: relative;
    overflow: hidden;
}

.main-content {
    position: relative;
    width: 100%;
    padding: 0;
    transition: padding-right 0.3s;
<<<<<<< HEAD
    overflow: hidden;
=======
<<<<<<< HEAD
    overflow: hidden;
=======
    overflow-x: hidden;
>>>>>>> aed419737ce16b1fb706c4378d56f6129b74df83
>>>>>>> 51672d5f138b4eb84622956442c1c4837ee6bb8f
}

.map-container.active {
    margin-right: 350px;
}

.sideBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 99.9vh;
    background-color: #fff;
    z-index: 1000;
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.sideBar.active {
    transform: translateX(0);
}

.sideBar:not(.active) {
    transform: translateX(100%);
<<<<<<< HEAD
}

.overlay {
    background-color: rgb(246, 241, 241);
    border: 1px solid hsl(0, 47%, 94%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 180px;
    position: relative;
    height: 120px;
}

.overlay::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #f0e9e9 transparent transparent transparent;
}
/* .attrroverlay {
    background-color: rgb(246, 241, 241);
    border: 1px solid hsl(0, 47%, 94%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 180px;
    position: relative;
    height: 120px;
}

.attrroverlay::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #f0e9e9 transparent transparent transparent;
} */
=======
}
>>>>>>> 51672d5f138b4eb84622956442c1c4837ee6bb8f
